*{
    box-sizing: border-box;
}

body{
    background-color: #777;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1{
    color: rgb(255,255,255);
}

.screen{
    cursor: pointer;
    background-color: black !important;
    width:50%;
    height: 500px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.controls{
    background-color: #333;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width:50%;
    height: 30px;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
}

.controls .btn{
    /* color: #28a745; */
    background: transparent ;
    cursor: pointer;
    border:0px;
    padding:6px;
}

.btn .fa.fa-play.fa-2x{
    color:#28a745;;
    background-color:#333 ;
}

.btn .fa.fa-stop.fa-2x{
 color:#dc3545;
 background-color:#333 ;
}

@media (max-width:800px){
    .screen .controls{
        width:90%;
    }
}

.controls .progress{
    cursor: pointer;
}

.controls .timestamp{
    margin-left: 9px;
}